{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<div align="right">
<li style="color:red"><a href="{% url 'polls:logout' %}"><span  style="color:grey"> logout </span></a></li>
</div>

<center> <p align="right">
<h1 style="color:red">{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />


<li style="color:red"><a href="{% url 'polls:index' %}"> Click here to change Question </a></li>

</form>
    </p>
</center>